.container {
  padding: 10px;
  width: 400px;
  height: 340px;
}

a {
  font-weight: bolder;
  font-size: 2.2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  width: 400px;
  height: 150px;
}

#btn {
  justify-content: center;
}

.button {
  display: inline-block;
  font-size: 1.1rem;
  padding: 3px 15px;
  margin: 10px;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.button:hover {
  background-color: powderblue;
}

#showScore {
  font-weight: bolder;
  font-size: 1.5rem;
}

#start,
#submit {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 5px 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: whitesmoke;
  background-color: gray;
}

#start:hover,
#submit:hover {
  background-color: powderblue;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
